@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.header-section {
  width: 100%;
  height: 104px;
  background-image: url('images/image-header.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-section nav {
  font-size: 34px;
  width: auto;
}

.header-section:hover div {
  transform: rotate(45deg);
  transform-origin: 20% 40%;
  width: 100px;
  background: rgb(202, 240, 11);
  transition: linear 2s;
  height: 100px;
}

#header-section div {
  display: none;
  height: 74px;
  width: 74px;
}

#second-main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
}

#second-main h1 {
  font-family: 400;
  font-size: 34px;
  color: #1a2236;
  font-style: regular;
  position: absolute;
  top: 120px;
  max-width: 800px;
  height: 110px;
  text-align: start;
  align-items: center;
}

#second-main p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #1a2236;
  font-style: normal;
  position: absolute;
  top: 208px;
  text-align: start;
  overflow-x: hidden;
  width: 100%;
}

#second-main button {
  color: #fff;
  align-items: center;
  border: 2px solid #1a2236;
  position: absolute;
  background-color: #1a2236;
  top: 560px;
  padding: 10px 40%;
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

#second-main:hover {
  border: 1px fill #1a2236;
  background-color: #fff;
  color: #1a2236;
}

#second-main:focus {
  border: 2px solid #1a2236;
  background-color: #fff;
  color: #1a2236;
  transition: linear 2s;
}

#second-main > button:focus {
  background-color: #fff;
  color: #1a2236;
}

#second-main button:focus {
  background-color: #fff;
  color: #1a2236;
}

#second-section-bg-img {
  background-image: url('./images/geometry.svg');
  background-repeat: no-repeat;
  background-position: auto center;
  width: 100%;
  background-size: cover;
  height: 50px;
  position: absolute;
  top: 640px;
  border: 2px solid tomato;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: 14px;
}
