@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

#header-section {
  display: flex;
  width: 100%;
  height: 104px;
  justify-content: space-between;
  align-items: center;
}

#header-section #left-float {
  float: left;
  height: 104px;
  width: 50%;
}

/* #header-section .bar {
  float: right;
  width: 50%;
  height: 104px;
  margin-right: -50px;
  position: absolute;
  right: -86px;
} */

.list-of-project ul {
  list-style: none;
  margin: 20px;
  display: flex;
  gap: 4px;
  padding: 4px 8px;
}

#language ul {
  padding: 20px 50px;
  text-align: start;
}

#framework ul {
  text-align: start;
  padding: 20px 50px;
}

#skills ul {
  color: #fff;
  padding: 20px 50px;
  text-align: start;
}

.nav-menu a {
  text-decoration: none;
  color: #1a2236;
}

#header-section #navbar-container nav ul {
  display: none;
  list-style-type: none;
  text-decoration: none;
}

#navbar-img {
  margin-top: 18px;
  margin-right: 8px;
}

.btn-container a {
  text-decoration: none;
  width: 2000px;
  height: 100px;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}

.list-item-container button {
  color: #fff;
  background-color: #1a2236;
  margin-left: 26px;
  position: relative;
  top: -24px;
  left: 34px;
  width: 140px;
  height: 20px;
  font-size: 16px;
}

button:active {
  background-color: #fff;
  color: #1a2236;
  border: 4px solid;
}

.project-link button {
  color: #fff;
  font-size: 12px;
  padding-bottom: 30px;
  background-color: #1a2236;
  border: none;
}

nav .navbar-list-items a {
  display: none;
}

.project-link img {
  width: 20px;
  height: 20px;
  padding-top: 8px;
  margin-left: 6px;
}

.contact-form button {
  background-color: #1a2236;
  color: #fff;
  height: 44px;
  width: 99%;
  padding: auto;
}

.project-link {
  display: flex;
  border: 2px solid #fff;
  justify-content: center;
  align-content: center;
  width: 178px;
  background-color: #1a2236;
  height: 44px;
  margin-left: 30px;
  color: #fff;
  font-size: 10px;
  padding-bottom: -10px;
}

.project-link:hover {
  background-color: #fff;
  color: #1a2236;
  border: #1a2236 3px solid;
}

.project-link button:hover {
  background-color: #fff;
  color: #1a2236;
  font-weight: 400;
  font-size: 18px;
  padding: none;
  border: none;
}

.project-link button:active {
  background-color: #fff;
  color: #1a2236;
  font-weight: 400;
  font-size: 18px;
  padding: none;
  border: none;
}

.imj-project-section img {
  width: 100%;
  margin: 0;
}

.project-link img:hover {
  color: #1a2236;
  padding: 0;
}

#header-section nav a {
  float: right;
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 860px;
  background-color: #f9f9fa;
}

.contact-form p {
  width: 96%;
  color: #1a2236;
  margin-bottom: 20px;
  text-align: start;
  margin-left: 8px;
  font-size: 16px;
  font-weight: 400;
}

.contact-form h2 {
  font-family: 'Playfair Display', sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.contact-form button:hover {
  background-color: #fff;
  color: #1a2236;
  border: 1.5px solid #6da1a8;
}

.contact-form button:focus {
  background-color: #fff;
  color: #1a2236;
  border: 3px solid #6da1a8;
}

#section-main button {
  color: #fff;
  align-items: center;
  height: 50px;
  background-color: #1a2236;
  border: 1px solid white;
  margin-top: 10px;
}

#about-section button {
  background-color: #1a2236;
  width: 96%;
  height: 50px;
  color: #fff;
  margin-top: 10px;
}

#about-section button:hover {
  background-color: #fff;
  color: #1a2236;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  height: 50px;
  margin: 16px 2%;
  font-size: 16px;
}

#about-section button:active {
  background-color: #fff;
  color: #1a2236;
  border: 3px solid #1a2236;
}

#section-main button:hover {
  align-items: center;
  color: #1a2236;
  height: 50px;
  background-color: #fff;
  border: 2px solid #1a2236;
}

form {
  display: block;
  margin-top: 10px;
}

#section-main {
  display: flex;
  flex-direction: column;
  margin-bottom: 0%;
}

#section-main-text h1 {
  font-family: 400;
  font-size: 34px;
  color: #1a2236;
  font-style: normal;
  height: auto;
  text-align: start;
}

#section-main-text p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #1a2236;
  font-style: normal;
  left: 16px;
  text-align: start;
  margin-top: 10px;
  padding: 0 8px;
}

#section-main-img2 {
  display: none;
}

.full-section-div {
  margin: 0 1px;
}

#desktop-img3 {
  display: none;
}

#desktop-imgA {
  display: none;
}

#destop-img4 {
  display: none;
}

#section-main button:active {
  background-color: #fff;
  color: #1a2236;
  font-weight: 400;
  font-size: 18px;
  padding: none;
  border: none;
}

#second-section-bg-img {
  display: block;
  width: 90%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: 14px;
}

#project-sections {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0;
  margin-top: 0;
}

#project-sections h2 {
  text-align: start;
  font-size: 24px;
  font-weight: 700;
  margin-left: 16px;
  margin-bottom: 10px;
  color: #1a2236;
}

#project-container {
  background-color: #fff;
}

#about-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  padding: 2em 0;
  margin: 4px 0 0 0;
}

#download {
  margin-left: 26px;
  height: 17.79px;
  width: 20.32px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  padding: 4px;
  transform: rotate(90deg);
}

#about-sction-div img:hover {
  font-size: 24px;
  color: #98dede;
}

#about-section h2 {
  margin: 0 16px;
  color: #1a2236;
}

#about-section p {
  font-size: 14px;
  text-align: start;
  color: #1a2236;
  width: 96%;
  height: 126px;
  margin: 10px 2%;
}

#about-section form {
  height: 60px;
  background-color: #1a2236;
}

#about-section-list {
  margin-top: 0;
}

li {
  list-style: none;
}

#about-section-list ul li {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  color: #f2f2f2;
}

#about-section-list h5 {
  padding-top: 8px;
  text-align: start;
}

#language {
  height: 289px;
  width: 96%;
  margin: 8px 2%;
  position: relative;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/hash1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #1c528a;
}

#language ul li:hover {
  border-bottom: 2px solid #98dede;
  padding: 0%;
}

#framework {
  height: 289px;
  width: 96%;
  margin: 8px 2%;
  border-radius: 4px;
  color: #f2f2f2;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/ic_framework.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #e2505c;
}

#skills {
  height: 289px;
  width: 96%;
  margin: 8px 2%;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  background-image: url(./images/ic_skills.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: #febf52;
}

#framework ul li:hover {
  text-decoration: underline;
  border-bottom: 2px solid #98dede;
}

#language h5 {
  text-align: start;
  padding: 10px 50px;
}

#framework h5 {
  text-align: start;
  padding: 10px 50px;
}

#skills h5 {
  text-align: start;
  padding: 10px 50px;
}

#teal-img {
  display: none;
}

main {
  padding: 5em 2em;
}

section {
  padding: 2em;
}

.list-of-project {
  background-color: #1a2236;
  list-style: none;
  text-decoration: none;
  display: block;
  padding: 10px 0;
  margin: 0;
}

.list-of-project h4 {
  color: #fff;
  margin-left: 30px;
}

.project-list-1 {
  margin: 0.2em;
  width: 49px;
  height: 12px;
  padding-bottom: 3px;
  font-size: 8px;
  color: #1a2236;
  text-align: center;
  background-color: #98dede;
}

.project-list-2 {
  margin: 0.2em;
  text-align: center;
  width: 67px;
  height: 12px;
  padding-bottom: 3px;
  font-size: 8px;
  background-color: #98dede;
  color: #1a2236;
}

.project-list-3 {
  margin: 0.2em;
  width: 54px;
  height: 12px;
  font-size: 8px;
  padding-bottom: 3px;
  text-align: center;
  background-color: #98dede;
  color: #1a2236;
}

.project-list-4 {
  display: none;
}

.img-list {
  width: 14.57px;
  height: 15.35;
}

.imj-project-sections {
  margin: 0;
}

label {
  width: 100%;
}

input {
  width: 98%;
  height: 52px;
  border-radius: 4px;
  padding: 20px;
  border: 1px solid #dfdfe0;
}

.input-field {
  margin-left: 0;
}

textarea {
  width: 100%;
  height: 112px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-radius: 4px;
}

#bg-contact-img {
  display: block;
  margin-left: -30px;
  margin-top: -24px;
}

#bg-contact-img1 {
  display: none;
  position: relative;
  top: -20px;
  left: -30px;
}

#btn-img {
  display: none;
}

footer {
  width: 100%;
  background-color: #1a2236;
  height: 150px;
  display: block;
}

#footer-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: relative;
  bottom: -24px;
}

#footerhead-img {
  display: none;
}

#footer-img-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position: absolute;
  bottom: -24px;
  width: 100%;
}

#footer-img-left {
  display: none;
}

footer h6 {
  color: #6da1a8;
  text-align: start;
  margin-left: 16px;
  font-size: 14px;
  word-spacing: 0.5em;
  padding-top: 12px;
}

#list-of-project2-img {
  display: none;
}

#list-of-project2-imgb {
  display: none;
}

#desktop-img1a {
  display: none;
}

#mobile-img {
  display: block;
}

#resume-img {
  display: flex;
  padding-top: 10px;
}

#btn-imgA {
  display: none;
}

#img-geo {
  display: none;
}

#cross-img {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 24px;
  margin-top: 10px;
}

#desktop-versione1 {
  display: none;
}

#desktop-version2 {
  display: none;
}

/* mobile menu */

header {
  display: flex;
}

#dots {
  width: 50px;
  height: 50px;
  top: 220px;
  left: 90px;
  position: absolute;
  align-self: flex-end;
}

#dots1 {
  width: 50px;
  height: 50px;
  right: 80px;
  position: absolute;
  align-self: flex-start;
}

#dots2 {
  position: absolute;
  left: 60px;
}

.navbar {
  width: 100%;
  position: relative;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  transition: 0.7s ease;
}

.nav-link:hover {
  color: dodgerblue;
}

.img-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  display: block;
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #000;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.nav-menu {
  position: fixed;
  top: -100%;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  text-align: center;
  transition: 1s;
  width: 85%;
  color: #1a2236;
  right: 50%;
  margin-bottom: 12px;
  z-index: 999;
  background-color: #fff;
}

.nav-item {
  margin: 16px 0;
}

.nav-menu.active {
  top: 10px;
}

/* media query */

@media screen and (min-width: 768px) {
  body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  /* mobile menu starts here */

  .hamburger {
    display: none;
  }

  .bar {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  #navbar-img {
    content: '';
    display: none;
  }

  #nav-list1 {
    margin: 2px 30%;
    padding: 0 20px;
  }

  #nav-list2 {
    margin: 2px 30%;
    padding: 0 20px;
  }

  #project-sections1 {
    display: block;
  }

  #desktop-versione1 {
    display: none;
  }

  .contact-form h2 {
    height: 110px;
    width: 40%;
    font-family: 'Playfair Display', sans-serif;
    margin: 0 30%;
    font-size: 34px;
    letter-spacing: 0.2em;
    font-weight: 400;
    text-align: center;
  }

  #project-container h2 {
    transform: rotate(-90deg);
    font-size: 110px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 12%;
    margin-right: 70%;
  }

  #desktop-imgA {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
  }

  #desktop-version2 {
    display: none;
    margin-top: 150px;
  }

  #desktop-version2right {
    display: none;
    flex-direction: column;
    margin-right: 0;
  }

  #desktop5 {
    margin-right: 0;
    margin-top: 200px;
  }

  #nav-list3 {
    margin: 2px 30%;
    padding: 0 20px;
  }

  #nav-list4 {
    margin: 2px 30%;
    padding: 0 20px;
  }

  #header-section nav .navbar-list-items li a {
    display: inline;
    text-decoration: none;
    color: #1a2236;
    flex-direction: row;
    margin-right: 0;
    width: 100%;
    height: 20px;
    justify-content: space-around;
    align-items: center;
    transform: rotateX(45deg);
  }

  #header-section {
    display: block;
    width: 100%;
  }

  #header-section #navbar-container nav ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    top: 0;
    height: 104px;
    padding: 10px;
  }

  #left-float {
    display: none;
  }

  #section-main-text h1 {
    padding: 10px 0.2em;
    float: left;
    font-size: 54px;
    margin-left: 0.2%;
  }

  #section-main-text p {
    padding: 10px 0.5em;
    text-align: start;
    float: left;
    font-size: 22px;
    margin: 5px 0.05em 1em  0;
  }

  .contact-form-txt button {
    height: 26.76px;
    width: 40%;
    margin-bottom: -16px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: relative;
    left: 40px;
    align-self: center;
  }

  #section-main button {
    display: flex;
    width: 244px;
    padding: 1em;
    float: left;
    margin-right: 0;
    margin-top: 0;
    font-size: 24px;
    margin-left: 2%;
  }

  #btn-imgA {
    display: block;
    position: absolute;
    left: 39%;
    top: 820px;
  }

  #second-section-bg-img {
    display: none;
  }

  #section-main {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-bottom: 0;
  }

  #section-main-img2 {
    display: block;
    margin-top: -11%;
    margin-right: -30px;
    margin-bottom: 0;
    width: 30%;
  }

  #section-main-text {
    width: 65%;
    margin-top: 15%;
    margin-left: 50px;
    justify-content: center;
  }

  #project-sections {
    width: 100%;
    margin: 50px 0;
  }

  .full-section-div .fix {
    position: relative;
  }

  #img-div2 {
    position: relative;
  }

  #full-section-div1 {
    content: '';
    float: right;
    right: 0;
    width: 54%;
    height: 200px;
    position: absolute;
    top: 1040px;
  }

  #imj-poject-section2 {
    width: 30%;
  }

  #list-of-project2-img {
    display: block;
    position: relative;
    width: 32.5%;
    margin-top: 555px;
    right: -32%;
    z-index: 1;
  }

  #list-of-project2-imgb {
    display: block;
    width: 25%;
    position: relative;
    right: -75%;
    margin-top: 0;
    height: 150px;
  }

  #imj-project-section img {
    display: none;
  }

  #list-of-project1 {
    float: right;
    width: 54%;
    height: auto;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1218px;
    margin-bottom: 50px;
    padding: 35px 0 35px 20px;
  }

  .list-of-project h4 {
    color: #fff;
    margin-left: 30px;
    font-size: 34px;
    font-weight: 700;
  }

  #list-of-project2 {
    margin-right: 0%;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 1570px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  #list-of-project2::before {
    content: url(./images/image-geometry2.png);
    margin-right: 100%;
    position: absolute;
    margin-top: -25%;
    right: 0;
  }

  .list-of-ptoject1 {
    display: none;
  }

  #full-section-div2 {
    display: block;
    float: left;
    width: 35.4%;
    height: auto;
    margin-left: 0;
    margin-top: -17%;
    margin-right: 0;
  }

  #full-section-div3 {
    display: block;
    width: 50.6%;
    height: auto;
    margin-right: -100%;
    margin-top: -25%;
  }

  #desktop-img1a {
    display: block;
    margin-left: 32.5%;
    width: 200px;
    margin-top: -23%;
  }

  #desktop-img3 {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: 42%;
  }

  #destop-img4 {
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
    right: -51%;
    margin-top: -200px;
  }

  #img-geo {
    display: block;
    position: absolute;
    left: 12px;
    top: 2000px;
    width: 200px;
    height: 200px;
  }

  #full-section-div4 {
    width: 32%;
    margin-left: 50%;
    margin-top: 0;
  }

  #full-section-div4::before {
    content: url(./images/Shape1b.png);
    position: absolute;
    right: 220px;
    margin-right: 10.5px;
    top: 999px;
  }

  #full-section-div6 {
    display: none;
  }

  #list-of-project3 {
    display: none;
  }

  #list-of-project4 {
    display: none;
  }

  #list-of-project5 {
    display: none;
  }

  .project-list-1 {
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }

  #list-of-project6 {
    display: none;
  }

  .project-list-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 20px 20px;
    text-align: center;
    margin: 0.2em;
    font-size: 12px;
    background-color: #98dede;
    color: #1a2236;
  }

  .project-list-3 {
    display: none;
  }

  .project-list-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.2em;
    width: 54px;
    height: 12px;
    padding: 20px 40px;
    font-size: 12px;
    text-align: center;
    background-color: #98dede;
    color: #1a2236;
  }

  .contact-form {
    display: grid;
    width: 100%;
    place-items: center;
    position: relative;
    margin-bottom: -32px;
  }

  #contact-form-txt {
    width: 70%;
  }

  #contact-form-txt p {
    width: 100%;
    height: 50px;
    color: #1a2236;
    align-self: center;
    text-align: center;
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 400;
  }

  #mobile-img {
    display: none;
  }

  .form-dir {
    display: flex;
    gap: 5px;
    width: 100%;
  }

  label {
    display: grid;
    grid-template-rows: repeat(1fr);
  }

  label > span {
    transition: 2s;
    transform-origin: top left;
  }

  label > input[placeholder=" "]:not(:focus):placeholder-shown + span {
    transform: translateY(1em) scale(1.25);
    pointer-events: none;
    opacity: 0.5;
    position: relative;
    left: 180px;
  }

  input {
    border: 1px solid #1a2236;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    display: flex;
  }

  .input-field {
    width: 100%;
    height: 60px;
    border-radius: 4px;
    display: flex;
  }

  textarea {
    width: 100%;
  }

  #teal-img {
    display: block;
    margin-left: 40px;
    margin-top: 20px;
  }

  #cross-img {
    display: none;
  }

  #bg-contact-img1 {
    display: block;
    position: absolute;
    width: 15%;
    height: 200px;
    left: 0;
    bottom: 10px;
    margin-top: 20px;
  }

  #btn-img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 15%;
    height: 150px;
  }

  #bg-contact-img {
    display: none;
  }

  #about-section {
    width: 100%;
    display: grid;
    gap: 5%;
    grid-template-columns: 60% 40%;
    padding: 30px;
    margin: 30px 0;
  }

  #about-section p {
    width: 100%;
    color: #1a2236;
    margin: 10px 1%;
    font-size: 20px;
    font-weight: 400;
    line-break: strict;
    text-align: start;
    margin-bottom: 20px;
  }

  .about-section-container {
    width: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-left: 100px;
  }

  .about-section-right {
    width: 40%;
    margin-right: 3%;
    position: absolute;
    right: 0;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #resume-img {
    display: none;
  }

  .about-section-left {
    width: 60%;
    height: auto;
    margin-right: 4.5%;
    position: relative;
    margin-top: 50px;
  }

  #about-section-list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  #framework,
  #language {
    width: 100%;
    height: 299px;
  }

  #skills {
    width: 100%;
    height: 289px;
    margin-top: -10px;
  }

  footer {
    content: '';
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
  }

  #footer-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: relative;
    bottom: 0;
  }

  #footerhead-img {
    display: block;
    position: static;
    top: 0;
  }

  #footer-img-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: -74px;
    right: 0;
    width: 60%;
    padding-top: 20px;
  }

  #footer-img-left {
    display: flex;
    left: 5%;
    gap: 3%;
    align-items: center;
    align-content: center;
    position: absolute;
    bottom: -74px;
    width: 37%;
    color: #88ccce;
    padding: 10px;
  }

  #proj1 {
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  .animate {
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
