@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

#header-section {
  width: 100%;
  height: 104px;
  background-image: url('images/logo-image.svg');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}

#header-section div {
  display: none;
  float: left;
  height: 74px;
  width: 74px;
}

#header-section nav a {
  float: right;
}

#section-main {
  width: 100vw;
  display: block;
  padding: 0 12px;
}

#section-main h1 {
  font-family: 400;
  font-size: 34px;
  color: #1a2236;
  font-style: regular;
  position: absolute;
  top: 120px;
  max-width: 800px;
  height: 110px;
  text-align: start;
}

#section-main p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #1a2236;
  font-style: regular;
  position: absolute;
  top: 208px;
  left: 16px;
  text-align: start;
}

#second-main {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 576px;
  left: 16px;
  background-color: #1a2236;
  border: 1px solid tomato;
}

#second-main button {
  color: #fff;
  align-items: center;
  height: 26.47px;
  background-color: #1a2236;
  border: none;
  position: absolute;
  top: -6px;
  padding: 10px 40%;
  margin-top: 10px;
}

#second-section-bg-img {
  background-image: url('./images/logo-image2.svg');
  background-repeat: no-repeat;
  background-position: auto center;
  width: 100%;
  background-size: cover;
  height: 50px;
  position: absolute;
  top: 640px;
  border: 2px solid tomato;
  padding-top: 10px;
  padding-bottom: 100px;
  margin-top: 14px;
}

.project-container {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  position: absolute;
  top: 1600px;
}

.project-list:nth-of-type(odd) {
  color: #fff;
  width: 100vw;
  height: 186px;
  background-color: aqua;
}

.project-list:nth-of-type(1) {
  background-image: url('./images/desktop7.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.project-list:nth-of-type(2n) {
  width: 100%;
  height: 156px;
  background-color: #1a2236;
}

.project-list:nth-of-type(3) {
  background-image: url('./images/desktop2.png');
}

.project-list:nth-of-type(5) {
  background-image: url('./images/desktop3.png');
  background-repeat: no-repeat;
}

.project-list:nth-of-type(7) {
  background-image: url('./images/Desktop4.png'); 
  background-repeat: no-repeat;
} 

.project-list:nth-of-type(9) {
  background-image: url('./images/desktop5.png');
  background-repeat: no-repeat;
}

.project-list:nth-of-type(11) {
  background-image: url('./images/desktop6.png');
  background-repeat: no-repeat;
}
